{% extends "layout.html"%}

{% block content %}
<div class="container">
    <form class="form" action="../process.php" method="post">
        <fieldset>

            <input type="hidden" name="hon" value="" />
            <label for="client_name">Client Name</label><br>
            <input type="text" class="form-control" id="client_name" name="client_name" value="" placeholder="Enter the
     client name*" required /><br>
            <label for="client_url">Client URL</label><br>
            <input type="text" class="form-control" id="client_url" name="client_url" value="" placeholder="Enter the
     client url" /><br>
            <label for="client_description">Describe the client:</label><br>
            <textarea name="client_description" class="form-control" id="client_description" cols="30"
                rows="10"></textarea><br>
            <input type="hidden" name="value_type" value="client">
            <input type="submit" name="s" value="Create Client"></fieldset>
    </form>
</div>
{% endblock%}